﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<body>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/slide01.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>Zapateria</p>
                    <h2>LA SUELA</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide02a.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>EL MEJOR ESTILO</p>
                    <h2>Para todo gusto</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide03.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>LOS MEJORES PRECIOS</p>
                    <h2>Para lucir bien</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide04.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>EN EL MEJOR LUGAR</p>
                    <h2>Para comprar</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide05a.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>DONDE TODOS ENCUENTRAN</p>
                    <h2>Lo que necesitan</h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/1a.jpg" alt="" width="10" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>nuestra tienda es</p>
                                <h2>Muy confiable</h2>
                            </header>
                            <p>A travez de nuestra pagina de Zapateria LA SUELA, podrá disfrutar de un cómodo y acogedor ambiente, en el cual podra sentirse muy comodo, como si estuviera fisicamente en la tienda.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Learn More</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/2a.jpg" alt="" width="50" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Nuestros asesores</p>
                                <h2>Le atenderan gustosamente</h2>
                            </header>
                            <p> Los productos que vendemos son de la mejor calidad y a un buen precio, contamos con un amplio catalogo para poder satisfacer las necesidades de todos nuestros clientes</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Learn More</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>No te pierdas la oportunidad</p>
                <h2>Escribenos y realiza tus pedidos</h2>
            </header>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p class="special">cada pedido es especial para nosotros</p>
                <h2>por eso los clientes vuelven</h2>
            </header>

        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; LA SUELA. All rights reserved.
        </div>
    </footer>
</body>
</html>